config.ini
credentials.ini
Backups/
__pycache__/
Pyinstaller/
Raw IPTV data/
all_cached_data.json
provider_catalog_cache.*.json
userdata.ini
build/
*.spec
lib/
IPTV screenshots/
favorites.json
dist/
vlc_log.txt
/.idea/
/.venv/
